# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ui-tech-test.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\ui-tech-test\.idea\.idea.ui-tech-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
